{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="card">
  <br>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi distinctio repudiandae debitis error eos magni a voluptatum omnis, nemo nulla sint doloremque voluptatibus nihil, consequuntur consequatur odio incidunt obcaecati suscipit odit esse ea unde iste! Corporis porro animi delectus est, laboriosam facilis dolorem odio quaerat magni maxime quibusdam quidem non officia placeat sit autem repellat quos rerum? Neque modi repellat quidem, ipsam dolorum, architecto soluta expedita inventore ratione nam impedit cupiditate consequuntur sunt aliquam culpa molestias fugiat tempora asperiores quos vero maiores iusto numquam quo? Ducimus doloribus dignissimos itaque odit blanditiis cupiditate minus deleniti nisi facilis. Repellat ipsa iusto voluptatibus.</p>
</div>

{% endblock body %}